page-checkout {
    .text-input-md
    {
        padding-bottom: 3px;
    }
    .text-input
    {
        border-bottom: 1px solid #cccccc;
    }
    .button-md
    {
        background-color: #DDA72A;
    }
    .radio-md .radio-inner {
        background-color: #DDA72A;
    }
    .radio-md .radio-icon
    {
        border-color: #FFFFFF;
    }
    .radio-md .radio-checked
    {
        border-color: #DDA72A;
    }
}