<ion-header>
    <ion-navbar>
        <!-- <button ion-button menuToggle icon-only></button> -->
        <ion-title>Checkout page</ion-title>
    </ion-navbar>
</ion-header>
<ion-content  *ngIf="visible" class="cart-page">
    <ion-grid style="padding-bottom: 50px;">
        <ion-row *ngIf="customer_cart_data && customer_cart_data.length>0">
            <ion-col col-12  *ngFor="let cart_data of customer_cart_data let i=index" >
                <div class="product-sec">
                    <img [src]="cart_data.image_small?cart_data.image_small:'assets/imgs/placeholder.png'">
                    <div class="product-text"> 
                        <h3>{{cart_data.product_name}}</h3>
                        <p style="padding-bottom: 5px;" [innerHTML]="cart_data.description"></p>
                        <p style="padding-bottom: 5px;">
                            <span class="item-price" style="padding: 0px;" *ngIf="cart_data.price"><i class="fa fa-inr"></i>{{cart_data.price}}</span>
                            <span class="item-price-discount" style="padding: 0px;" *ngIf="cart_data.regular_price > cart_data.price"><i class="fa fa-inr"></i>{{cart_data.regular_price}}</span>
                            <span class="item-price-discount-value" style="padding: 0px;" *ngIf="cart_data.regular_price > cart_data.price">( - {{getDiscount(cart_data.price,cart_data.regular_price)}} )</span>
                        </p>
                        <p style="padding-bottom: 10px;" *ngIf="cart_data.size!=''">
                            <span class="item-price" style="padding: 0px;">Size : {{cart_data.size}}</span>
                        </p>
                        <p style="padding-bottom: 5px;">Qty :{{cart_data.quantity}}</p>
                    </div>
                </div>
            </ion-col>
        </ion-row>

        <div style="background-color: #535353; margin-bottom: 5px;">
            <div style="border-bottom: 1px solid #cccccc;">
                <h3 style="color: #DDA72A;padding: 5px; margin: 0px;" (click)="openAddModal()">Address <i  class="fa fa-plus-square" aria-hidden="true"></i></h3>
            </div>
            <form [formGroup]="addressForm">
                <ion-list radio-group radio-group formControlName="address_id">
                    <ion-item *ngFor="let address of addressOptions let i=index" >
                        <ion-label>
                            {{address.label}}<br/>
                            {{address.shipping_first_name}}<br/>
                            {{address.shipping_address_1}}, {{address.shipping_city}}, {{address.shipping_state}}, {{address.shipping_postcode}}
                        </ion-label>
                        <ion-radio [checked]="address.selected" (ionSelect)="selectAddress(address,i)"></ion-radio>
                    </ion-item>
                </ion-list>
            </form>
        </div>

        <div style="background-color: #535353; margin-bottom: 5px">
            <div style="border-bottom: 1px solid #cccccc;">
                <h3 style="color: #DDA72A;padding: 5px; margin: 0px;">Payment Method </h3>
            </div>
            <form [formGroup]="paymentForm">
                <ion-list radio-group radio-group formControlName="payment_id">
                    <ion-item *ngFor="let payment of paymentOptions let i=index" >
                        <ion-label>
                            {{payment.title}}
                        </ion-label>
                        <ion-radio  [checked]="payment.selected" (ionSelect)="selectPayment(payment,i)"></ion-radio>
                    </ion-item>
                </ion-list>
            </form>
        </div>

        <div style="background-color: #535353; margin-bottom: 5px">
            <div style="border-bottom: 1px solid #cccccc;">
                <h3 style="color: #DDA72A;padding: 5px; margin: 0px;">Total </h3>
            </div>
            <ion-grid>
                <ion-row class="address-sec">
                    <ion-col col-12  >
                        <ion-row >
                            <ion-col col-6>
                                <p style="text-align: left; color:#ffffff">Subtotal</p>
                            </ion-col>
                            <ion-col col-6>
                                <p style="text-align: right;color:#ffffff"><i class="fa fa-rupee"></i>{{total_item_price}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="appliedCoupon">
                            <ion-col col-6>
                                <p style="text-align: left;color:#ffffff">Discount</p>
                            </ion-col>
                            <ion-col col-6>
                                <p style="text-align: right;color:#ffffff"><i class="fa fa-rupee"></i>{{getDiscountPrice()}}</p>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="appliedCoupon">
                            <ion-col col-6>
                                <p style="text-align: left;color:#ffffff">Total</p>
                            </ion-col>
                            <ion-col col-6>
                                <p style="text-align: right;color:#ffffff"><i class="fa fa-rupee"></i>{{getPaidTotalAfterOffer()}}</p>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div style="background-color: #535353;margin-bottom: 5px">
            <div style="border-bottom: 1px solid #cccccc;">
                <h3 style="color: #DDA72A;padding: 5px; margin: 0px;">Have a coupon? </h3>
            </div>
            <form [formGroup]="cuponForm">
            <ion-grid>
                <ion-row class="address-sec">
                    <ion-col col-12  >
                        <ion-row >
                            <ion-col col-8>
                                <ion-input type="text"  formControlName="coupon" [ngClass]="displayFieldCss(cuponForm,'coupon')"
                                placeholder="Coupon code"></ion-input>
                                <span class="error-msg" *ngIf="isFieldValid(cuponForm,'coupon')">Enter your coupon code</span>
                            </ion-col>
                            <ion-col col-4>
                                    <button ion-button  (tap)="applyOffer()">Apply</button>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
            </form>
        </div>
        <div style="background-color: #535353;">
            <ion-row>
                <ion-col col-12 >
                    <div class="check-out-sec">
                        <button class="btn-checkout" (click)="orderPay()" *ngIf="payment_type=='wc_paytm'">PROCEED TO PAY</button>
                        <button class="btn-checkout" (click)="orderPay()" *ngIf="payment_type!='wc_paytm'">PLACE ORDER</button>
                    </div>
                </ion-col>
            </ion-row>
        </div>

    </ion-grid>
    
</ion-content>