page-address {
    .text-input-md
    {
        padding-bottom: 3px;
    }
    .text-input
    {
        border-bottom: 1px solid #cccccc;
    }
    .button-md
    {
        background-color: #DDA72A;
    }
    .btn-cancel
    {
        background-color: #CCCCCC;
    }
}
